/* Container for tab */
.stTabs [role="tablist"] {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem; /* usa gap al posto di margin-right */
}

/* tab style */
.stTabs [role="tab"] {
    flex: 1 1 0;
    text-align: center;
    padding: 2.5rem 1rem;
    background-color: #f0f2f6;
    border-radius: 6px 6px 0 0;
    border: 1px solid #ccc;
    color: #333;
    font-weight: 500;
    font-size: 24px !important;
    overflow-wrap: anywhere;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap; 
}

/* button of the tabs */
button[data-baseweb="tab"] > div[data-testid="stMarkdownContainer"] > p {
    font-size: 24px; 
    font-weight: 500;
    color: #444;
    margin: 0;
}

/* Tab attivo */
.stTabs [aria-selected="true"] {
    background-color: #1a73e8;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid #0e1117;
}

/* Hover */
.stTabs [role="tab"]:not([aria-selected="true"]):hover {
    background-color: #dce6f9;
    cursor: pointer;
}

/* hint for the Claim */
/* bigger field label */
.custom-claim-input label {
    font-size: 24px !important;
    font-weight: 600;
    color: #222;
    margin-bottom: 0.5rem;
    display: block;
}

/* Bigger field input */
.custom-claim-input input {
    font-size: 22px !important;
    padding: 0.75rem 1rem !important;
    height: auto !important;
    width: 100% !important;
    border-radius: 6px;
    border: 1px solid #ccc;
}